---
interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
}

import '../styles/index.css';
import Head from "./organisms/Head.astro";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<html lang="cs">
  <Head {...Astro.props} />
  <body style="font-family: var(--font-family-nunito); background-image: url('/pattern.svg'); background-repeat: no-repeat; background-size: cover;">
    <Navbar />
    <main class="overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>
